services:
  - type: web
    name: youtube-downloader-api
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    region: oregon
    buildCommand: docker build -t youtube-downloader .
    startCommand: gunicorn --bind 0.0.0.0:$PORT --workers 3 --timeout 3000 app:app
    envVars:
      - key: PORT
        value: 5000
      - key: PYTHONPATH
        value: /app
      - key: FLASK_ENV
        value: production